.appointment {
	padding: 60px 0;
	background-color: var(--default-color);
	color: var(--white);

	&-form {
		display: flex;
		align-items: center;
		margin: 0 auto;

		@include r($r-dt) {
			flex-direction: column;
			gap: 20px;
			max-width: 500px;
		}
	}

	&-label {
		text-transform: uppercase;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		padding: 0 12px;
		height: 80px;
		width: 100%;
	}

	&-input {
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: 10px 16px 16px 0;
		color: var(--white);
		font-size: 18px;
		outline: none;

		&::placeholder {
			color: var(--white);
			color: white;
			font-size: 18px;
		}

		.notvalid {
			border-color: #f5543f;
		}
	}

	&-submit-btn {
		padding: 18px 35px;
		font-size: 15px;
		line-height: 1.5;
		background-color: var(--white);
		color: var(--default-color);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.002em;
		border-color: transparent;
		margin-top: 12px;
		margin-left: 27px;
		width: 100%;
		@include line-clamp(1);
		transition: color var(--transit), background-color var(--transit),
			border-color var(--transit);
		max-width: 250px;

		@include r($r-dt) {
			margin-top: 45px;
			margin-left: 0;
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--white);
			background-color: var(--hover-purple);
		}
	}
	.air-datepicker {
		background-color: var(--white);
		width: 300px;
		box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
		border: 1px solid var(--shadow-color);
		border-radius: 0;
		font-family: inherit;

		@include r($r-ph) {
			width: 100%;
			max-width: 300px;
		}

		&-nav {
			background-color: #8c5fc6;
			color: var(--white);
			padding: 0;
		}

		&-nav--action {
			height: 30px;
			margin: auto 0;
			background-color: transparent;
		}

		&-nav--title {
			display: block;
			font-size: 1.3em;
			font-weight: 600;
			text-align: center;
			width: 100%;
			cursor: default;
			background-color: #8c5fc6;
			padding: 0;

			& i {
				display: block;
				text-align: center;
				margin-left: 0;
				color: var(--white);
				font-size: 1.2em;
				font-weight: 300;
			}

			& strong {
				font-size: 45px;
				line-height: 1;
				font-weight: 600;
			}

			& span {
				display: block;
				font-size: 20px;
			}

			& div {
				// background-color: #7240b2;
				background-color: #8c5fc6;
				text-transform: capitalize;
				font-weight: 300;
				font-size: 15px;
			}

			&:hover {
				background: transparent;
			}
		}

		&-body--day-name {
			color: var(--title-color);
			font-weight: 700;
			font-size: 15px;
			letter-spacing: -0.03em;
		}

		&-cell {
			font-weight: 700;
			font-size: 14px;
			line-height: 1.2;

			&.-current- {
				color: var(--white);
				background-color: var(--hover-purple);
				border-radius: 50%;
			}
		}
	}
}
