.contacts {
	padding: 115px 0;
	background-color: var(--bg-gray);
	position: relative;

	&-inner {
		display: flex;
		justify-content: space-between;
	}

	&-address_block {
		max-width: 390px;
		width: 100%;
	}

	&-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 45px;
		color: var(--title-color);
		text-transform: uppercase;
		line-height: 1.2;
		font-weight: 700;
	}

	&-list {
		margin-top: 65px;
		display: flex;
		flex-direction: column;
		row-gap: 65px;
	}

	&-item {
		display: flex;
		font-size: 22px;
		line-height: 1.18;
		font-weight: 600;

		&:hover .call::after {
			transform: rotate(175deg) translate(15px, 15px);
		}

		&:hover .map::after {
			transform: translate(-45px, 2px);
		}

		&:hover .plane::after {
			transform: rotate(-90deg) translateY(-40px);
		}
	}

	&-icon {
		display: flex;
		flex-shrink: 0;
		width: 60px;
		height: 60px;
		margin-right: 30px;
		fill: var(--title-color);
		position: relative;
		z-index: 1;
	}

	&-icon_wrap {
		position: relative;

		&::after {
			position: absolute;
			content: '';
			top: 30%;
			left: 58%;
			z-index: -1;
			transition: transform 0.6s ease-in-out;
		}

		&.call::after {
			border-color: transparent transparent #c9c0d5 transparent;
			width: 0;
			height: 0;
			border-width: 0 12px 22px 12px;
			border-style: solid;
			transform: rotate(137.76deg) translate(0, 0);
			z-index: 0;
		}

		&.map::after {
			width: 24px;
			height: 24px;
			background-color: #c9c0d5;
			border-radius: 50%;
			z-index: 0;
		}

		&.plane::after {
			width: 20px;
			height: 20px;
			background-color: #c9c0d5;
			z-index: 0;
			transform: translateY(0) rotate(45deg);
		}
	}

	&-link {
		margin-bottom: 5px;
		display: block;
		transition: color var(--transit);
		font-family: 'Montserrat', sans-serif;

		&:hover,
		&:focus,
		&:active {
			color: var(--hover-purple);
		}
	}

	&-subtitle {
		color: var(--subtitle-color);
		font-size: 15px;
		font-weight: 300;
		letter-spacing: -0.03em;
	}

	&-form_block {
		max-width: 670px;
		width: 100%;

		&::after {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(51, 51, 51, 0.9);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			z-index: 100;
		}

		&._sending::after {
			opacity: 1;
			visibility: visible;
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	&-form_input {
		border: 1px solid #c4c4c4;
		padding: 16px 25px;
		background-color: var(--white);
		font-weight: 400;
		height: 60px;
		color: var(--title-color);
		margin-bottom: 20px;

		&::placeholder {
			color: var(--title-color);
		}

		&._error {
			box-shadow: 0 0 15px red;
		}

		&.textarea {
			height: 200px;
			resize: vertical;
			margin-bottom: 30px;
		}
	}

	&-form_button {
		height: 60px;
		color: var(--white);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.002em;
		padding: 14px 35px;
		border: 1px solid var(--default-color);
		background-color: var(--default-color);
		width: 190px;
		transition: background-color var(--transit);

		&:hover,
		&:focus,
		&:active {
			background-color: var(--hover-purple);
		}
	}
}
