.footer {
	padding-top: clamp(60px, 8vw, 105px);
	padding-bottom: clamp(60px, 8vw, 120px);
	background-color: var(--default-bg);

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--white);
	}

	& .logo {
		font-size: clamp(40px, 5vw, 60px);
		margin-bottom: 50px;
	}

	&-links {
		display: flex;
		margin-bottom: 50px;
	}

	&-item {
		padding: 0 20px;
		position: relative;
		&:not(:last-child)::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: var(--shadow-color);
			right: 0px;
			width: 1px;
			height: 25px;
		}
	}

	&-link {
		text-transform: uppercase;
		font-size: 15px;
		transition: color var(--transit);

		&:hover,
		&:focus,
		&:active {
			color: var(--hover-purple);
		}
	}

	.header-social-links {
		margin-bottom: 90px;
		fill: var(--white);
	}

	.header-social-item {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.05);
		transition: var(--transit);

		&:hover,
		&:focus,
		&:active {
			background-color: var(--hover-purple);
		}
	}

	.header-social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&-copyright {
		color: var(--shadow-color);
		font-size: 15px;
		letter-spacing: -0.03em;
		font-weight: 400;
	}
}
