.footer {
	padding-top: clamp(60px, 8vw, 105px);
	padding-bottom: clamp(60px, 8vw, 120px);
	background-color: var(--default-bg);

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--white);
	}

	& .logo {
		font-size: clamp(40px, 5vw, 60px);
		margin-bottom: 50px;
	}

	&-links {
		display: flex;
		margin-bottom: 50px;
	}

	&-item {
		padding: 0 20px;
	}

	&-link {
		text-transform: uppercase;
		font-size: 15px;
		transition: color var(--transit);

		&:hover {
			color: var(--hover-purple);
		}
	}
}
