.header {
	padding: 35px 0;

	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-nav {
		display: flex;
		width: 100%;
	}

	&-links-wrap {
		display: flex;
		align-items: center;
		max-width: 570px;
		width: 100%;
		justify-content: space-between;
		margin-left: auto;
	}

	&-nav-links {
		display: flex;
		align-items: center;
		column-gap: 50px;
	}

	&-nav-link {
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		font-weight: 500;
		text-transform: uppercase;
		color: var(--white);
		transition: color var(--transit);

		&:hover,
		&:focus,
		&:active {
			color: var(--accent);
		}

		&--active {
			color: var(--accent);
		}
	}

	&-social-links {
		display: flex;
		column-gap: 25px;
		padding-left: 20px;
	}

	&-social-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-social-link {
		height: 100%;
	}
	.social-icon {
		transition: fill var(--transit);
		fill: rgba(255, 255, 255, 0.5);
		&:hover {
			fill: var(--white);
		}
	}
}
