.header {
	padding: 35px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	transition: all var(--transit);

	@include r($r-tb) {
		padding: 16px 0;
		background: var(--default-bg);
		border-bottom-color: var(--default-bg);
		box-shadow: 0px 0px 15px rgba(21, 21, 21, 0.35);
	}

	&-sticky {
		padding: 16px 0;
		background: var(--default-bg);
		border-bottom-color: var(--default-bg);
		box-shadow: 0px 0px 15px rgba(21, 21, 21, 0.35);

		& .logo {
			font-size: clamp(20px, 2.5vw, 25px);
			&-img {
				width: clamp(30px, 4vw, 40px);
				margin-right: 10px;
			}
		}
	}

	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-nav {
		display: flex;
		width: 100%;
	}

	&-links-wrap {
		display: flex;
		align-items: center;
		max-width: 700px;
		width: 100%;
		justify-content: space-between;
		margin-left: auto;

		@include r($r-tb) {
			display: none;
		}
	}

	&-nav-links {
		display: flex;
		align-items: center;
		column-gap: 50px;
		padding-right: 20px;
	}

	&-nav-link {
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		font-weight: 500;
		text-transform: uppercase;
		color: var(--white);
		transition: color var(--transit);

		&:hover,
		&:focus,
		&:active {
			color: var(--accent);
		}

		&--active {
			color: var(--accent);
		}
	}

	&-social-links {
		display: flex;
		column-gap: 25px;
	}

	&-social-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-social-link {
		height: 100%;
	}
	.social-icon {
		transition: fill var(--transit);
		fill: rgba(255, 255, 255, 0.5);
		&:hover {
			fill: var(--white);
		}
	}
}
