<section class="about" id="about">
	<div class="container">
		<div class="about-inner">
			<div
				class="about-img_wrap animate__animated animated-element"
				data-animation="animate__slideInLeft"
			>
				<img class="about-image" src="images/bg-s/team.jpg" alt="team photo" />
			</div>
			<div
				class="about-wrapper animate__animated animated-element"
				data-animation="animate__slideInRight"
			>
				<h2 class="about-title">About Us</h2>

				<p class="about-text top">
					Beauty Style is one of the premier beauty saloons in Gdansk, visited
					not only by Poles but also by Ukrainians, Germans, and representatives
					of many other countries.
				</p>

				<p class="about-text bottom">
					Our beauty saloon has earned an incredible reputation as our
					professional team continues to work wonders on clients’ eyes and nails
					and enhance their assets through our services.
				</p>

				<button class="about-button" type="button">view more</button>
			</div>
		</div>
	</div>
</section>
