<div class="appointment" id="appointment">
	<div class="container">
		<form class="appointment-form" method="POST" id="appointmentForm">
			<input
				type="hidden"
				name="access_key"
				value="b8931619-2c6f-41eb-9799-19402671ec97"
			/>

			<label class="appointment-label">
				name
				<input
					class="appointment-input req"
					name="name"
					type="text"
					placeholder="Your name"
					minlength="2"
				/>
				<span class="appointment-label_mistake" data-t="appoint-mistake1">
					This field is required
				</span>
			</label>

			<label class="appointment-label">
				phone
				<input
					class="appointment-input req _phone"
					name="phone"
					type="text"
					placeholder="Your phone number"
					minlength="5"
					title="+xx-xxx-xxx-xx-xx"
					oninput="this.value = this.value.replace(/[^0-9\+\-]/g, '')"
				/>
				<span class="appointment-label_mistake" data-t="appoint-mistake2">
					This field is required
				</span>
			</label>

			<label class="appointment-label">
				date
				<input
					class="appointment-input req"
					id="appointmentPicker"
					name="date"
					type="text"
					placeholder="01/01/2024"
				/>
				<span class="appointment-label_mistake" data-t="appoint-mistake3">
					This field is required
				</span>
			</label>

			<button class="appointment-submit-btn" type="submit" data-t="appoint-btn">
				Make an appointment
			</button>
		</form>
	</div>
</div>
