<div class="appointment">
	<div class="container">
		<form class="appointment-form">
			<label class="appointment-label">
				name
				<input class="appointment-input" type="text" placeholder="Your name" />
			</label>
			<label class="appointment-label">
				phone
				<input
					class="appointment-input"
					type="text"
					placeholder="Your phone number"
				/>
			</label>
			<label class="appointment-label">
				date
				<input class="appointment-input" type="text" placeholder="01/01/2024" />
			</label>
			<button class="appointment-submit-btn" type="submit">
				Make an appointment
			</button>
		</form>
	</div>
</div>
