<section class="equipment">
	<div class="container">
		<div class="equipment-inner">
			<h2 class="hidden">Our advantages</h2>
			<ul class="equipment-list">
				<li class="equipment-item">
					<div class="equipment-icon woman"></div>
					<a class="equipment-title" href="#">Friendly Team</a>
					<p class="equipment-text">
						Our staff is polite and courteous. We strive for excellence both in
						the quality of our services and interaction with you.
					</p>
				</li>

				<li class="equipment-item">
					<div class="equipment-icon chair"></div>
					<a class="equipment-title" href="#">Best Equipment</a>
					<p class="equipment-text">
						We use the best equipment and products to deliver the highest level
						of beauty services to our clients.
					</p>
				</li>

				<li class="equipment-item">
					<div class="equipment-icon phone"></div>
					<a class="equipment-title" href="#">Perfect Atmosphere</a>
					<p class="equipment-text">
						When you come to Beauty Style , you are guaranteed to experience the
						warm and friendly atmosphere of our salon.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>
