<section class="featured">
	<div class="container">
		<div class="featured-inner">
			<h2 class="featured-title">Featured Offers</h2>
			<p class="featured-subtitle">
				We offer a complete range of nail services including styling, coloring,
				eyebrow and eyelash tinting, perming and a lot more.
			</p>
			<ul class="featured-services">
				<li class="featured-item">
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/feet/feet1.jpg"
							alt="service photo"
						/>
					</div>
					<a class="featured-link" href="#">book now</a>
					<h3 class="featured-service_name">nails</h3>
					<p class="featured-text">Any Colors You Can Imagine</p>
				</li>

				<li class="featured-item">
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/lashes/lashes7.jpg"
							alt="service photo"
						/>
					</div>
					<a class="featured-link" href="#">book now</a>
					<h3 class="featured-service_name">eyebrow</h3>
					<p class="featured-text">Creating Your Image</p>
				</li>

				<li class="featured-item">
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/lashes/lashes2.jpg"
							alt="service photo"
						/>
					</div>
					<a class="featured-link" href="#">book now</a>
					<h3 class="featured-service_name">eyelash</h3>
					<p class="featured-text">Achieving the Best Look</p>
				</li>
			</ul>
		</div>
	</div>
</section>
