<section class="featured">
	<div class="container">
		<div class="featured-inner">
			<div
				class="animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<h2 class="featured-title">Featured Offers</h2>
				<p class="featured-subtitle">
					We offer a complete range of nail services including styling,
					coloring, eyebrow and eyelash tinting, depilation and a lot more.
				</p>
			</div>
			<ul class="featured-services">
				<li
					class="featured-item animate__animated animated-element"
					data-animation="animate__fadeInUp"
				>
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/feet/feet1.jpg"
							alt="service photo"
						/>
						<a class="featured-btn" href="#appointment">book now</a>
					</div>
					<div class="featured-name">
						<a class="featured-title_link" href="#appointment">Nails</a>
						<p class="featured-text">Any Colors You Can Imagine</p>
					</div>
				</li>

				<li
					class="featured-item animate__animated animated-element"
					data-animation="animate__fadeInUp"
				>
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/lashes/lashes7.jpg"
							alt="service photo"
						/>
						<a class="featured-btn" href="#appointment">book now</a>
					</div>
					<div class="featured-name">
						<a class="featured-title_link" href="#appointment"
							>Eyebrows & Lashes</a
						>
						<p class="featured-text">Creating Your Image</p>
					</div>
				</li>

				<li
					class="featured-item animate__animated animated-element"
					data-animation="animate__fadeInUp"
				>
					<div class="featured-img_wrap">
						<img
							class="featured-img"
							src="images/depilation/depilation3.jpg"
							alt="service photo"
						/>
						<a class="featured-btn" href="#appointment">book now</a>
					</div>
					<div class="featured-name">
						<a class="featured-title_link" href="#appointment">Depilation</a>
						<p class="featured-text">Treat your skin</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
