<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<include src="./partials/logo.html"></include>
			<h2 class="hidden">footer</h2>
			<ul class="footer-links">
				<li class="footer-item">
					<a class="footer-link" href="#pricing">Pricing</a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#work_time">Contacts</a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#gallery">Gallery</a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#about">About</a>
				</li>
			</ul>
			<include src="./partials/social-links.html"></include>
			<p class="footer-copyright">
				&copy; 2024 Beauty Style. All Rights Reserved.
			</p>
		</div>
	</div>
</footer>
