<header class="header">
	<div class="container">
		<div class="header-inner">
			<nav class="header-nav">
				<div class="logo header-logo">
					<a class="logo-link" href="#">
						<img
							class="logo-img"
							src="images/icons/logosqware.svg"
							alt="logo"
						/>
						Beauty Style
					</a>
				</div>

				<div class="header-links-wrap">
					<ul class="header-nav-links">
						<li class="header-nav-item">
							<a class="header-nav-link header-nav-link--active" href="#"
								>About</a
							>
						</li>
						<li class="header-nav-item">
							<a class="header-nav-link" href="#">Pricing</a>
						</li>
						<li class="header-nav-item">
							<a class="header-nav-link" href="#">Contacts</a>
						</li>
					</ul>

					<ul class="header-social-links">
						<li class="header-social-item">
							<a
								class="header-social-link"
								href="http://"
								target="_blank"
								rel="noopener noreferrer"
							>
								<svg class="social-icon" width="22" height="22">
									<use href="images/sprite.svg#facebook" />
								</svg>
							</a>
						</li>

						<li class="header-social-item">
							<a
								class="header-social-link"
								href="http://"
								target="_blank"
								rel="noopener noreferrer"
							>
								<svg class="social-icon" width="24" height="25">
									<use href="images/sprite.svg#instagram" />
								</svg>
							</a>
						</li>

						<li class="header-social-item">
							<a
								class="header-social-link"
								href="http://"
								target="_blank"
								rel="noopener noreferrer"
							>
								<svg class="social-icon" width="27" height="24">
									<use href="images/sprite.svg#booksy" />
								</svg>
							</a>
						</li>

						<li class="header-social-item">
							<a
								class="header-social-link"
								href="http://"
								target="_blank"
								rel="noopener noreferrer"
							>
								<svg class="social-icon" width="27" height="24">
									<use href="images/sprite.svg#telegram" />
								</svg>
							</a>
						</li>

						<li class="header-social-item">
							<a
								class="header-social-link"
								href="http://"
								target="_blank"
								rel="noopener noreferrer"
							>
								<svg class="social-icon" width="27" height="24">
									<use href="images/sprite.svg#whatsapp" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>
