<header class="header">
	<div class="container">
		<div class="header-inner">
			<nav class="header-nav">
				<include src="./partials/logo.html"></include>

				<div class="header-links-wrap">
					<ul class="header-nav-links">
						<li class="header-nav-item">
							<a class="header-nav-link header-nav-link--active" href="#about"
								>About</a
							>
						</li>
						<li class="header-nav-item">
							<a class="header-nav-link" href="#pricing">Pricing</a>
						</li>
						<li class="header-nav-item">
							<a class="header-nav-link" href="#contacts">Contacts</a>
						</li>
					</ul>
					<include src="./partials/social-links.html"></include>
				</div>
			</nav>
		</div>
	</div>
</header>
