<header class="header sl-fixed">
	<div class="container">
		<div class="header-inner">
			<nav class="header-nav">
				<div class="nav-menu__btn">
					<span></span>
				</div>
				<div class="header-nav-backdrop"></div>

				<include src="./partials/logo.html"></include>

				<div class="header-links-wrap">
					<ul class="header-nav-links">
						<li class="header-nav-item">
							<select class="header-nav-link" id="langSelect">
								<option value="pl">Polski</option>
								<option value="uk">Українська</option>
								<option value="de">Deutsch</option>
								<option value="en">English</option>
							</select>
						</li>

						<li class="header-nav-item">
							<a class="header-nav-link" data-t="link-about" href="#about"
								>About</a
							>
						</li>

						<li class="header-nav-item">
							<a class="header-nav-link" data-t="link-pricing" href="#pricing"
								>Pricing</a
							>
						</li>

						<li class="header-nav-item">
							<a class="header-nav-link" data-t="link-contacts" href="#contacts"
								>Contacts</a
							>
						</li>
					</ul>

					<include src="./partials/social-links.html"></include>

					<div class="social-button">
						<span></span>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
