<div class="modal_promo is-hidden">
	<div class="modal_promo-inner">
		<button class="modal_promo-close" type="button">&#10006;</button>
		<p class="modal_promo-subtitle" data-t="mod_promo-subtitle">only 3 days</p>
		<h2 class="modal_promo-title" data-t="mod_promo-title">
			20% off Nailstyling Services
		</h2>
		<div class="modal_promo-content">
			<p class="modal_promo-text" data-t="mod_promo-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea soluta
				assumenda facilis ex. Aliquid iste optio minus? Aut dolores nisi eum
				laborum eos error porro, alias, sapiente animi, accusantium officiis.
				Perspiciatis, magni expedita veritatis, rem eveniet possimus ducimus
				fugit pariatur alias cupiditate rerum, esse recusandae officia at modi
				facere aspernatur harum! Quae rerum nostrum eius voluptatum excepturi
				corrupti earum reprehenderit? Voluptas maxime doloribus earum ex in, est
				tempore.
			</p>

			<a
				class="modal_promo-button"
				href="#appointment"
				data-t="mod_promo-contact"
				>Contact us</a
			>
		</div>
	</div>
</div>
<div class="modal_promo-backdrop is-hidden"></div>
