<div class="modal_about is-hidden">
	<div class="modal_about-inner">
		<button class="modal_about-close" type="button">&#10006;</button>
		<h2 class="modal_about-title">About Us</h2>
		<div class="modal_about-content">
			<p class="modal_about-text">
				Beauty Style is one of the premier beauty saloons in Gdansk, visited not
				only by Poles but also by Ukrainians, Germans, and representatives of
				many other countries.
			</p>

			<p class="modal_about-text">
				Our beauty saloon has earned an incredible reputation as our
				professional team continues to work wonders on clients’ eyes and nails
				and enhance their assets through our services.
			</p>

			<a class="modal_about-button" href="#appointment">Contact us</a>
		</div>
	</div>
</div>
<div class="modal_about-backdrop is-hidden"></div>
