<section class="portfolio" id="gallery">
	<div class="portfolio-inner">
		<h2 class="portfolio-title">Our Portfolio</h2>
		<p class="portfolio-subtitle">
			Check out the full portfolio of our works including nails, eyebrows,
			eyelashes and more. Everything you see here was performed by our team.
		</p>
		<ul class="portfolio-list">
			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img class="portfolio-img" src="images/feet/feet2.jpg" alt="picture1" />
				<a class="portfolio-link" href="#">zoom</a>
			</li>

			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/lashes/lashes1.jpg"
					alt="picture2"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>

			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/nails/nails11.jpg"
					alt="picture3"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>

			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/lashes/lashes2.jpg"
					alt="picture4"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>

			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/lashes/lashes4.jpg"
					alt="picture5"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>
			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/nails/nails9.jpg"
					alt="picture6"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>
			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/depilation/depilation2.jpg"
					alt="picture7"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>

			<li
				class="portfolio-item animate__animated animated-element"
				data-animation="animate__slideInDown"
			>
				<img
					class="portfolio-img"
					src="images/nails/nails7.jpg"
					alt="picture8"
				/>
				<a class="portfolio-link" href="#">zoom</a>
			</li>
		</ul>
	</div>
</section>
