<section class="pricing">
	<div class="container">
		<div class="pricing-inner">
			<h2 class="pricing-title">Pricing</h2>
			<ul class="pricing-header tabs">
				<li class="pricing-header_item tab active" data-tab="tab1">
					Eyelashes & Eyebrows
				</li>
				<li class="pricing-header_item tab" data-tab="tab2">
					Femail depilation
				</li>
				<li class="pricing-header_item tab" data-tab="tab3">Mail depilation</li>
				<li class="pricing-header_item tab" data-tab="tab4">
					Manicure & Pedicure
				</li>
			</ul>

			<ul class="pricing-content_list">
				<li class="pricing-content_item active" id="tab1">
					<h3 class="pricing-service_title">Eyelashes</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">LAMINACJA RZĘS</a>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>LAMINACJA RZĘS + KOLOR + BOTOX</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PRZEDŁUŻENIE RZĘS 1:1</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PRZEDŁUŻENIE RZĘS 2:1</a>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PRZEDŁUŻENIE RZĘS 3:1</a>
							<span class="pricing-service_price">140<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>PRZEDŁUŻENIE RZĘS 4/6:1</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">MOKRY EFEKT</a>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>PRZEDŁUŻENIE RZĘS EFEKT KIM</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>PRZEDŁUŻENIE RZĘS KONCÓWEK</a
							>
							<span class="pricing-service_price">80<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>USUWANIE PRZEDŁUŻONYCH RZĘS</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
					</ul>
					<h3 class="pricing-service_title">Eyebrows</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">REGULACJA BRWI</a>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">LAMINACJA BRWI</a>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>LAMINACJA, KOLORYZACJA I KOREKCJA BRWI</a
							>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab2">
					<h3 class="pricing-service_title">Femail depilation</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BAKI</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">NOS</a>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BRODA</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">SZYJA</a>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PACHY</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">RĘCE</a>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">RĘCE 1/2</a>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">LINIA NA BRUCHU</a>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">LĘDŹWIE</a>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">NOGI CAŁE </a>
							<span class="pricing-service_price">od 100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">NOGI 1/2</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BIKINI TRADYCYNE</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BIKINI GŁĘBOKE</a>
							<span class="pricing-service_price">od 90<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">POŚLADKI</a>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab3">
					<h3 class="pricing-service_title">Mail depilation</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">REGULACJA BRWI </a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">USZY</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">NOS</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">KARK</a>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PACHY</a>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PLECY</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PLECY + RAMIONA</a>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">RĘCE</a>
							<span class="pricing-service_price">60<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">TORS</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BRZUCH</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">TORS + BRZUCH</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">LINIA NA BRZUCHU</a>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">NOGI</a>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">POŚLADKI</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">BIKINI+ POŚLADKI</a>
							<span class="pricing-service_price">200<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab4">
					<h3 class="pricing-service_title">Manicure & Pedicure</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">MANICURE HYBRYDOWY</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>MANICURE HYBRYDOWY + OBRAZEK</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">MANICURE Z ODŻYWKĄ</a>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">FRENCH</a>
							<span class="pricing-service_price">10<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>PRZEDŁUŻENIE ŻELEM + HYBRYDA</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>DOPELNIENIE ŻELEM + HYBRYDA</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>ŻEL NA NATURALNE PŁYTCE</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>ZDJĘCIE HYBRYDY I MANICURE Z ODŻYWKĄ</a
							>
							<span class="pricing-service_price">80<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>ZDJĘCIE ŻEL + MANICURE Z ODŻYWKĄ
							</a>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PEDICURE HYBRYDOWY</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>PEDICURE HYBRYDOWY + STOPY</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#">PEDICURE Z ODŻYWKĄ </a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>REKONSTRUKCJA PAZNOKCIA W NASZYM SALONIE</a
							>
							<span class="pricing-service_price">15<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#"
								>SCIĄGANIE ŻELU (USŁUGA DODANA DO INNEJ)
							</a>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>
