<section class="pricing" id="pricing">
	<div class="container">
		<div class="pricing-inner">
			<h2 class="pricing-title" data-t="pricing-title">Pricing</h2>
			<ul
				class="pricing-header tabs animate__animated animated-element"
				data-animation="animate__fadeInDown"
			>
				<li
					class="pricing-header_item tab"
					data-tab="tab1"
					data-t="pricing-lashandbrows"
				>
					Eyelashes & Eyebrows
				</li>
				<li
					class="pricing-header_item tab"
					data-tab="tab2"
					data-t="pricing-femail"
				>
					Femail depilation
				</li>
				<li
					class="pricing-header_item tab"
					data-tab="tab3"
					data-t="pricing-mail"
				>
					Mail depilation
				</li>
				<li
					class="pricing-header_item tab"
					data-tab="tab4"
					data-t="pricing-manicure"
				>
					Manicure & Pedicure
				</li>
			</ul>

			<ul class="pricing-content_list">
				<li class="pricing-content_item active" id="tab1">
					<h3 class="pricing-service_title" data-t="pricing-lashes">
						Eyelashes
					</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-laminatelashes"
								>LAMINACJA RZĘS</a
							>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-botox"
								>LAMINACJA RZĘS + KOLOR + BOTOX</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-extense1"
								>PRZEDŁUŻENIE RZĘS 1:1</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-extense2"
								>PRZEDŁUŻENIE RZĘS 2:1</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-extense3"
								>PRZEDŁUŻENIE RZĘS 3:1</a
							>
							<span class="pricing-service_price">140<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-extense4"
								>PRZEDŁUŻENIE RZĘS 4/6:1</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-wet"
								>MOKRY EFEKT</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-kim"
								>PRZEDŁUŻENIE RZĘS EFEKT KIM</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-tips"
								>PRZEDŁUŻENIE RZĘS KONCÓWEK</a
							>
							<span class="pricing-service_price">80<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-remove"
								>USUWANIE PRZEDŁUŻONYCH RZĘS</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
					</ul>
					<h3 class="pricing-service_title" data-t="pricing-eyebrows">
						Eyebrows
					</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-shaping"
								>REGULACJA BRWI</a
							>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-laminatebrows"
								>LAMINACJA BRWI</a
							>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-correction"
								>LAMINACJA, KOLORYZACJA I KOREKCJA BRWI</a
							>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab2">
					<h3 class="pricing-service_title" data-t="pricing-femdepilat">
						Femail depilation
					</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-sideburns"
								>BAKI</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-nose"
								>NOS</a
							>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-chin"
								>BRODA</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-neck"
								>SZYJA</a
							>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-armpits"
								>PACHY</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-arms1"
								>RĘCE</a
							>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-arms2"
								>RĘCE 1/2</a
							>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-line"
								>LINIA NA BRUCHU</a
							>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-lumbar"
								>LĘDŹWIE</a
							>
							<span class="pricing-service_price">40<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-legs"
								>NOGI CAŁE</a
							>
							<span class="pricing-service_price">100 +<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-legs2"
								>NOGI 1/2</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-bikinitop"
								>BIKINI TRADYCYNE</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-bikinideep"
								>BIKINI GŁĘBOKE</a
							>
							<span class="pricing-service_price">90 +<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-butt"
								>POŚLADKI</a
							>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab3">
					<h3 class="pricing-service_title" data-t="pricing-maildepilat">
						Mail depilation
					</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-mailbrows"
								>REGULACJA BRWI</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-ears"
								>USZY</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-nose"
								>nos</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-neck"
								>kark</a
							>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-pits"
								>PACHY</a
							>
							<span class="pricing-service_price">50<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-back"
								>PLECY</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-backarms"
								>PLECY + RAMIONA</a
							>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-hands"
								>RĘCE</a
							>
							<span class="pricing-service_price">60<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-tors"
								>TORS</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-stomack"
								>BRZUCH</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-torsostomack"
								>TORS + BRZUCH</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-linemale"
								>LINIA NA BRZUCHU</a
							>
							<span class="pricing-service_price">30<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-maillegs"
								>NOGI</a
							>
							<span class="pricing-service_price">120<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-maibut"
								>POŚLADKI</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-bikinilegs"
								>BIKINI+ POŚLADKI</a
							>
							<span class="pricing-service_price">200<span>Zł</span></span>
						</li>
					</ul>
				</li>

				<li class="pricing-content_item" id="tab4">
					<h3 class="pricing-service_title" data-t="pricing-manicuretitle">
						Manicure & Pedicure
					</h3>
					<ul class="pricing-service_list">
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-hybridmanicure"
								>MANICURE HYBRYDOWY</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-hybridpicture"
								>MANICURE HYBRYDOWY + OBRAZEK</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-conditioner"
								>MANICURE Z ODŻYWKĄ</a
							>
							<span class="pricing-service_price">70<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-french"
								>FRENCH</a
							>
							<span class="pricing-service_price">10<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-gel"
								>PRZEDŁUŻENIE ŻELEM + HYBRYDA</a
							>
							<span class="pricing-service_price">160<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-geladd"
								>DOPELNIENIE ŻELEM + HYBRYDA</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a class="pricing-service_link" href="#" data-t="pricing-natural"
								>ŻEL NA NATURALNE PŁYTCE</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-picturehybrid"
								>ZDJĘCIE HYBRYDY I MANICURE Z ODŻYWKĄ</a
							>
							<span class="pricing-service_price">80<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-gelpicture"
								>ZDJĘCIE ŻEL + MANICURE Z ODŻYWKĄ
							</a>
							<span class="pricing-service_price">100<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-hybridpedicure"
								>PEDICURE HYBRYDOWY</a
							>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-pedicurefeet"
								>PEDICURE HYBRYDOWY + STOPY</a
							>
							<span class="pricing-service_price">130<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-pedicurecondicioner"
								>PEDICURE Z ODŻYWKĄ
							</a>
							<span class="pricing-service_price">110<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-reconstruction"
								>REKONSTRUKCJA PAZNOKCIA W NASZYM SALONIE</a
							>
							<span class="pricing-service_price">15<span>Zł</span></span>
						</li>
						<li class="pricing-service_item">
							<a
								class="pricing-service_link"
								href="#"
								data-t="pricing-gelremove"
								>SCIĄGANIE ŻELU (USŁUGA DODANA DO INNEJ)
							</a>
							<span class="pricing-service_price">20<span>Zł</span></span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>
