<section class="promotion">
	<div class="container">
		<div
			class="promotion-inner animate__animated animated-element"
			data-animation="animate__fadeInUp"
		>
			<h2 class="hidden" data-t="promo-hidden">promotion giveaway</h2>
			<p class="promotion-subtitle" data-t="promo-subtitle">only 3 days</p>
			<p class="promotion-title" data-t="promo-title">
				20% off Nailstyling Services
			</p>
			<button class="promotion-button" type="button" data-t="promo-btn">
				view more
			</button>
		</div>
	</div>
</section>
