<section class="recommends">
	<div class="container">
		<div class="recommends-inner">
			<h2 class="recommends-title">Informacja dla klienta</h2>

			<ul class="recommends_list">
				<li class="recommends_list-item">
					<h3 class="recommends_list-title">
						Lista kontrolna idealnego klienta
					</h3>
					<ul class="recommends_list-client">
						<li class="recommends_list-client_item">
							Staraj się nie spóźniać więcej niż 15 minut (jeśli spóźnisz się
							więcej niż 15 minut, spotkanie zostanie odwołane lub przełożone).
						</li>
						<li class="recommends_list-client_item">
							Jeśli się spóźnisz, daj nam znać, ponieważ czas dla każdego
							klienta jest ograniczony.
						</li>
						<li class="recommends_list-client_item">Przyjdź bez opieki.</li>
						<li class="recommends_list-client_item">
							Jeśli zachorujesz, pamiętaj, aby ostrzec i przełożyć wizytę.
						</li>
						<li class="recommends_list-client_item">
							Pamiętaj, że wysokiej jakości praca wymaga czasu i cierpliwości,
							zaopatrz się w nią z wyprzedzeniem.
						</li>
					</ul>
				</li>
				<li class="recommends_list-item">
					<h3 class="recommends_list-title">Dlaczego nie możesz obciąć brwi</h3>
					<ul class="recommends_list-eyebrows">
						<li class="recommends_list-eyebrows_item">
							Z natury włosy mają cienką, uszczelnioną końcówkę.
						</li>
						<li class="recommends_list-eyebrows_item">
							Przycinanie brwi zaburza ich strukturę. Grube, strzyżone włosy nie
							układają się dobrze i zwisają, co z czasem może prowadzić do
							zmiany kierunku wzrostu.
						</li>
						<li class="recommends_list-eyebrows_item">
							Ze względu na zmianę struktury w wyniku farbowania, kolor brwi
							będzie niejednorodny. Przycięte włosy będą jaśniejsze, bez
							cienkiej końcówki.
						</li>
						<li class="recommends_list-eyebrows_item">
							Jednocześnie pigment wyjdzie z nich szybciej, co skraca trwałość
							farby.
						</li>
						<li class="recommends_list-eyebrows_item">
							Prosta linia strzyżenia będzie wyglądać jak płot za tydzień,
							ponieważ włosy przechodzą przez różne fazy wzrostu.
						</li>
						<li class="recommends_list-eyebrows_item">
							W dotyku włosy będą grube i kłujące, podobно wąsom.
						</li>
					</ul>
				</li>
			</ul>
			<div class="recommends_list-item">
				<h3 class="recommends_list-title">Depilacją</h3>
				<p>
					Przed depilacją należy przygotować skórę tak, aby depilacja była
					skuteczna i jak najmniej traumatyczna. Niektóre etapy przygotowawcze
					należy rozpocząć na kilka dni, a nawet tygodni przed zabiegiem.
					Zaplanuj zabieg depilacji przynajmniej na miesiąc wcześniej, aby mieć
					pewność, że Twoja skóra pozostanie zdrowa i gładka.
				</p>
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</section>
