<section class="recommends">
	<div class="container">
		<div class="recommends-inner">
			<h2 class="recommends-title">Informacja dla klienta</h2>

			<ul class="recommends_list">
				<li class="recommends_list-item">
					<h3 class="recommends_list-title">
						Lista kontrolna idealnego klienta
					</h3>
					<ul class="recommends_list-client">
						<li class="recommends_list-client_item">
							Staraj się nie spóźniać więcej niż 15 minut (jeśli spóźnisz się
							więcej niż 15 minut, spotkanie zostanie odwołane lub przełożone).
						</li>
						<li class="recommends_list-client_item">
							Jeśli się spóźnisz, daj nam znać, ponieważ czas dla każdego
							klienta jest ograniczony.
						</li>
						<li class="recommends_list-client_item">Przyjdź bez opieki.</li>
						<li class="recommends_list-client_item">
							Jeśli zachorujesz, pamiętaj, aby ostrzec i przełożyć wizytę.
						</li>
						<li class="recommends_list-client_item">
							Pamiętaj, że wysokiej jakości praca wymaga czasu i cierpliwości,
							zaopatrz się w nią z wyprzedzeniem.
						</li>
					</ul>
				</li>
				<li class="recommends_list-item">
					<h3 class="recommends_list-title">Dlaczego nie możesz obciąć brwi</h3>
					<ul class="recommends_list-eyebrows">
						<li class="recommends_list-eyebrows_item">
							Z natury włosy mają cienką, uszczelnioną końcówkę.
						</li>
						<li class="recommends_list-eyebrows_item">
							Przycinanie brwi zaburza ich strukturę. Grube, strzyżone włosy nie
							układają się dobrze i zwisają, co z czasem może prowadzić do
							zmiany kierunku wzrostu.
						</li>
						<li class="recommends_list-eyebrows_item">
							Ze względu na zmianę struktury w wyniku farbowania, kolor brwi
							będzie niejednorodny. Przycięte włosy będą jaśniejsze, bez
							cienkiej końcówki.
						</li>
						<li class="recommends_list-eyebrows_item">
							Jednocześnie pigment wyjdzie z nich szybciej, co skraca trwałość
							farby.
						</li>
						<li class="recommends_list-eyebrows_item">
							Prosta linia strzyżenia będzie wyglądać jak płot za tydzień,
							ponieważ włosy przechodzą przez różne fazy wzrostu.
						</li>
						<li class="recommends_list-eyebrows_item">
							W dotyku włosy będą grube i kłujące, podobно wąsom.
						</li>
					</ul>
				</li>

				<li class="recommends_list-item recommends_depilation">
					<h3 class="recommends_list-title">Depilacją</h3>
					<p class="recommends_depilation-subtitle">
						Przed depilacją należy przygotować skórę tak, aby depilacja była
						skuteczna i jak najmniej traumatyczna. Niektóre etapy przygotowawcze
						należy rozpocząć na kilka dni, a nawet tygodni przed zabiegiem.
						Zaplanuj zabieg depilacji przynajmniej na miesiąc wcześniej, aby
						mieć pewność, że Twoja skóra pozostanie zdrowa i gładka.
					</p>
					<div class="recommends_depilation-aside_block">
						<h4 class="recommends_depilation-aside_title">
							Zalecenia przed zabiegiem depilacji:
						</h4>
						<ul class="recommends_depilation-aside_list">
							<li class="recommends_depilation-aside_item">
								Długość włosów przed pierwszą depilacją wynosi co najmniej 6-7
								mm. To około 2 tygodnie po goleniu.
							</li>
							<li class="recommends_depilation-aside_item">
								Do kolejnych zabiegów wystarczy 5-6 mm, ponieważ włosy będą
								cieńsze i łatwiejsze do usunięcia.
							</li>
							<li class="recommends_depilation-aside_item">
								Na trzy dni przed zabiegiem nie zaleca się wykonywania
								peelingów.
							</li>
							<li class="recommends_depilation-aside_item">
								Nie zaleca się opalania się na słońcu i odwiedzania solarium
								przez siedem dni.
							</li>
							<li class="recommends_depilation-aside_item">
								W dniu zabiegu nie należy stosować tłustych balsamów ani
								olejków.
							</li>
							<li class="recommends_depilation-aside_item">
								Nigdy nie używaj maszynki do golenia, kremu do depilacji ani
								depilatora między zabiegami.
							</li>
						</ul>
					</div>

					<div class="recommends_depilation-aside_block">
						<h4 class="recommends_depilation-aside_title">
							Przeciwwskazania do zabiegu. Obecność:
						</h4>
						<ul class="recommends_depilation-aside_list">
							<li class="recommends_depilation-aside_item">
								Оtwartych ran, krost, skaleczeń, oparzeń (w tym oparzeń
								słonecznych) na skórze.
							</li>
							<li class="recommends_depilation-aside_item">
								W niektórych przypadkach możemy ominąć obszar, w którym
								występują uszkodzenia i wykonać zabieg.
							</li>
							<li class="recommends_depilation-aside_item">Wyraźne żylaki.</li>
							<li class="recommends_depilation-aside_item">
								Pierwszy i ostatni trymestr ciąży.
							</li>
						</ul>
					</div>

					<div class="recommends_depilation-aside_block">
						<h4 class="recommends_depilation-aside_title">
							Zalecenia po zabiegu depilacji:
						</h4>
						<ul class="recommends_depilation-aside_list">
							<li class="recommends_depilation-aside_item">
								Pierwszego dnia nie należy brać gorącego prysznica (kąpieli)
								oraz nie korzystać z sauny.
							</li>
							<li class="recommends_depilation-aside_item">
								Surowo zabrania się używania myjki pierwszego dnia.
							</li>
							<li class="recommends_depilation-aside_item">
								Nie uprawiaj sportu.
							</li>
							<li class="recommends_depilation-aside_item">
								Następnego dnia po depilacji woskiem załóż wygodną bawełnianą
								bieliznę i luźną, oddychającą odzież.
							</li>
							<li class="recommends_depilation-aside_item">
								Nie nakładaj dezodorantu na depilowane miejsca. Surowo zabrania
								się opalania się na słońcu i korzystania z solarium.
							</li>
							<li class="recommends_depilation-aside_item">
								Nie szoruj depilowanych miejsc przez pierwsze trzy dni po
								zabiegu.
							</li>
						</ul>
					</div>

					<p class="recommends_depilation-bottom-text">
						Po kilku zabiegach włosy rosną znacznie wolniej i stają się cieńsze
						i słabsze, a to również wpływa na czułość zabiegu! Celem depilacji
						woskiem jest nie tylko usuwanie włosów, ale stopniowa zmiana ich
						jakości i ilości.
					</p>
					<p class="recommends_depilation-bottom-title">
						Po 4-5 zabiegach zauważysz ogromną różnicę:
					</p>
					<ul class="recommends_depilation-bottom-list">
						<li class="recommends_depilation-bottom-item">
							Włosy stają się bardziej miękkie i jaśniejsze.
						</li>
						<li class="recommends_depilation-bottom-item">
							Resztki włosów nie mają szorstkiego cięcia, jak po brzytwie.
						</li>
						<li class="recommends_depilation-bottom-item">
							Skóra staje się bardziej podatna na depilację, a zabieg jest
							łatwiej tolerowany.
						</li>
						<li class="recommends_depilation-bottom-item">
							Ze względu na to, że włosów jest mniej, skraca się również czas
							zabiegu.
						</li>
						<li class="recommends_depilation-bottom-item">
							Skóra staje się gładka, elastyczna i jedwabista.
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>
