<ul class="header-social-links">
	<li class="header-social-item">
		<a
			class="header-social-link"
			href="https://www.facebook.com/beauty.style.388047"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="15" height="22">
				<use href="images/sprite.svg#facebook" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="https://www.instagram.com/beauty.style.pl?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="24" height="25">
				<use href="images/sprite.svg#instagram" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="https://booksy.com/pl-pl/217193_beauty-style_brwi-i-rzesy_20383_gdansk?do=invite&_branch_match_id=1266117790305573002&utm_medium=merchant_customer_invite&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXT07J0UvKz88urtRLzs%2FVdw4ILMn3yY4Idk0CACmKn8oiAAAA"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="32" height="24">
				<use href="images/sprite.svg#booksy" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="https://t.me/nadiiakhylko"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="27" height="24">
				<use href="images/sprite.svg#telegram" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="https://api.whatsapp.com/message/DQDVQX3P2NMWL1?autoload=1&app_absent=0"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="24" height="24">
				<use href="images/sprite.svg#whatsapp" />
			</svg>
		</a>
	</li>
</ul>
