<ul class="header-social-links">
	<li class="header-social-item">
		<a
			class="header-social-link"
			href="http://"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="15" height="22">
				<use href="images/sprite.svg#facebook" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="http://"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="24" height="25">
				<use href="images/sprite.svg#instagram" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="http://"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="27" height="22">
				<use href="images/sprite.svg#booksy" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="http://"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="27" height="24">
				<use href="images/sprite.svg#telegram" />
			</svg>
		</a>
	</li>

	<li class="header-social-item">
		<a
			class="header-social-link"
			href="http://"
			target="_blank"
			rel="noopener noreferrer"
		>
			<svg class="social-icon" width="24" height="24">
				<use href="images/sprite.svg#whatsapp" />
			</svg>
		</a>
	</li>
</ul>
