<section class="work_time" id="work_time">
	<div class="container">
		<div class="work_time-inner">
			<h2 class="work_time-title">Kontakt i godziny otwarcia</h2>
			<div class="work_time-wrapper">
				<div class="work_time-week">
					<ul class="work_time-list">
						<li class="work_time-item">
							<p class="work_time-day">poniedziałek</p>
							<span class="work_time-hour">9:00 - 20:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">wtorek</p>
							<span class="work_time-hour">9:00 - 20:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">środa</p>
							<span class="work_time-hour">9:00 - 20:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">czwartek</p>
							<span class="work_time-hour">9:00 - 20:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">piątek</p>
							<span class="work_time-hour">9:00 - 20:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">sobota</p>
							<span class="work_time-hour">10:00 - 16:00</span>
						</li>
						<li class="work_time-item">
							<p class="work_time-day">niedziela</p>
							<span class="work_time-hour">10:00 - 16:00</span>
						</li>
					</ul>
					<div class="work_time-phone">
						<svg class="work_time-phone_icon">
							<use href="images/sprite.svg#call" />
						</svg>
						<p class="work_time-number">729 458 575</p>
						<a class="work_time-button" href="tel:+729 458 575">Zadzwoń</a>
					</div>
				</div>
				<div class="work_time-map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2325.2322981663133!2d18.652739223975!3d54.35287597424182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd737514d516f1%3A0x5e8c6b448a693dea!2zTGF3ZW5kb3dhIDgsIDgwLTg0MCBHZGHFhHNrLCDQn9C-0LvRjNGI0LA!5e0!3m2!1sru!2sua!4v1703352936600!5m2!1sru!2sua"
						width="600"
						height="450"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
